/* ==========================================================================
  Variables
  ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
:root {
  /* Margin */
  --margin-xxxl: 64px;
  --margin-m: 16px;
  --margin-l: 24px;

  /* Coolors */
  --bc-primary: #00C081;
  --bc-primary-light: #26C994;
  --bc-secondary: #142529;
}

body {
  color: #3B3B3B;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
}

.btn-primary {
  background: var(--bc-primary);
  border: none;
}

.btn-primary:hover {
  background: var(--bc-primary-light);
  border: none;
}

/* ==========================================================================
  Header section
  ========================================================================== */
header {
  background-size: cover;
  background: url('../img/header.png') center center;
  display: flex;
  height: 900px;
  justify-content: center;
}

header .top-nav {
  width: 100%;
}

header .uyuni-logo {
  margin-bottom: var(--margin-xxxl)
}
header .landing-description {
  font-size: 1.3em;
}

header .btn {
  border-radius: 50px;
  padding: 8px 50px ;
}

header .eos-icons {
  font-size: 16px;
}


header .cta-section {
  align-items: center;
  display: flex;
  font-size: 0.7em;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

/* TOP NAVIGATION */
.navbar a img {
  width: 80px;
}

.top-nav a {
  color: #fff;
}

.top-nav a img{
  width: 18px;
  margin: 0 20px;
}

.landing-header {
  width: 100%;
}

.landing-description {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  position: relative;
  text-align: center;
  width: 60%;
  z-index: 1;
}

.uyuni-logo {
  width: 200px;
}


/* ==========================================================================
  Page wrapper
  ========================================================================== */
.page-wrapper {
  margin-top: -100px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  border-bottom: 5px solid var(--bc-primary);
}

.content-padding{
  padding: 80px 20px;
}

.home-illustration {
  width: 300px;
}

.section-description {
  margin-bottom: 50px;
  color: #3B3B3B;
}

/* Accordion
  ========================================================================== */
.accordion {
  /* margin-top: var(--margin-l); */
  min-height: 300px;
}

.accordion .accordion-header h5 {
  background: #E8E8E8;
  font-size: 14px;
  color: #707070;
  font-weight: 300;
  padding: 10px 20px;
  margin: 10px 0;
}

.accordion [aria-expanded="true"] {
  background: #0D2C40;
}



.accordion .accordion-header:hover, h5:hover  {
  cursor: pointer;
}

.accordion  .accordion-content {
  background: #f5f5f5;
  padding: 8px 21px;
  font-weight: 300;
}


/* ==========================================================================
  Footer
  ========================================================================== */
footer {
  background: url('/img/world_map.png') right center no-repeat #142529;
  background-size: contain;
  color: #fff;
  padding: 0 !important;
  font-weight: 300;
}

footer .row {
  margin: 0;
}

footer .footer-description p{
  color: #909090
}

/* ==========================================================================
  Devices
  ========================================================================== */

@media screen and (max-width: 780px) {
  header .top-nav {
    width: auto;
  }
  .cta-section {
      flex-direction: column;
  }
  .cta-section button{
      margin-top: 10px;
  }

  /* .wrapper .container > .row {
    padding: var(--margin-m);
  } */
 }
